@font-face {
    font-family: 'Bedstead';
    src: url('fonts/bedstead/bedstead.otf');
}

@font-face {
    font-family: 'BPtypewrite';
    src: url('fonts/BPtypewrite/BPtypewrite.otf');
}


.button {
    -fx-font-family: "BPtypewrite";
    -fx-font-size: 14px;
    -fx-text-fill: rgb(219, 170, 164);
    -fx-background-color: transparent;
    -fx-border-color: rgba(219, 170, 164, .7);
    -fx-border-width: 1;
    -fx-border-radius: 7;
}

.button:pressed {
    -fx-text-fill: rgb(219, 170, 164);
    -fx-background-color: rgba(119, 70, 64, .7);
    -fx-border-color: rgba(219, 170, 164, .7);   // Your new css
}

.button:hover {
   -fx-text-fill: rgb(219, 170, 164);
   -fx-background-color: rgba(45, 45, 45);
}